<!doctype html>
<html>
  <head>
    <title>Weather Forecast</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='forecast.js') }}"></script>
  </head>
  <body>
    <h1>10-Day Weather Forecast for {{ location|safe }}</h1>
    <h2>Temperature (ºF)</h2>
    <canvas id="temperature-chart"></canvas>

    <h2>Precipitation</h2>
    <canvas id="precipitation-chart"></canvas>

    <h2>UV Index</h2>
    <canvas id="uv-chart"></canvas>

    <script>
      var forecast = JSON.parse('{{ forecast|safe }}');
      console.log(forecast);
      createCharts(forecast);
    </script>
  </body>
</html>